<%= render :partial => 'shared/errors', :locals => {:object => @artist} %>
<%= form_for @artist, :html => {:multipart => true} do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :local %>
    <%= f.file_field :photo %>
  </div>
  <div class='field'>
    <%= f.label :remote %>
    <%= f.text_field :remote_photo_url %>
  </div>
  <div class='field'>
    <%= f.hidden_field :photo_cache %>
    <%= image_tag(@artist.photo.thumb.url) if @artist.photo? %>
  </div>
  <div class='field'>
    <%= f.label :songs %>
    <% Song.all.each do |song| %>
      <div class='checkbox'>
        <%= f.label song.name %>
        <%= check_box_tag 'artist[song_ids][]', song.id, song.in?(@artist.songs) %>
      </div>
    <% end %>
  <div>
  <div class='field clear'>
    <%= f.submit %>
  </div>
<% end %>
