<!DOCTYPE html>
<html>
<head>
  <title>Songz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>songz.</header>
<nav>
  <%= link_to "Home", root_path %>
  |
  <%= link_to "Songs", songs_path %>
  |
  <%= link_to "Albums", albums_path %>
  |
  <%= link_to "Artists", artists_path %>
  |
  <%= link_to "Genres", genres_path %>
  |
  <%= link_to "new song", new_song_path %>
  |
  <%= link_to "new album", new_album_path %>
  |
  <%= link_to "new artist", new_artist_path %>
  |
  <%= link_to "new genre", new_genre_path %>
</nav>

<div id="songz">
  <audio></audio>
  <%= yield %>
</div>

<footer class='clear'>(c) 2012 Chyld Medford</footer>

</body>
</html>
